*.iml
.gradle
/local.properties
.DS_Store
/build
**/build/
**/.gradle/
**/.kotlin/
/captures
.externalNativeBuild
.cxx
.build/
local.properties
.idea/*
.claude/settings.local.json
customGradlePlugin/build/
# Ignore the jar file
customGradlePlugin/build/*
.cache/
.fleet/
