*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/*
customGradlePlugin/build/
# Ignore the jar file
customGradlePlugin/build/*
.cache/
.fleet/